img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}

#imagem-lampada-desligada {
    display: none;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 180px;
    height: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400px;
    font-size: 24px;
}

button:hover {
    background-color: rgba(171, 171, 171, 0.614);
    cursor: pointer;
}